.dropdown-menu-scrollable {
    max-height: 12rem;
    overflow-y: scroll;
}

.close-btn {
    cursor: pointer;
}

.flex-center {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#filter-form .bi-filter {
    font-size: 30px;
    margin-right: 10px;
}

#filter-form .btn-custom1 {
    margin-right: 10px;
}

#filter-form .dropdown-menu {
    width: 200px;
    background-color: #88b7b9;
    padding: 8px;
}

#filter-form .form-check {
    margin-bottom: 0.25rem;
}

#filter-form .form-control {
    margin-bottom: 8px;
}

#filter-form .form-check-input:checked {
    background-color: #2c686c;
    border-color: #2c686c;
}
