.dropdown-menu-scrollable {
    max-height: 200px;
    overflow-y: scroll;
}

.close-btn {
    cursor: pointer;
}

.flex-center {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#filter-form .bi-filter {
    font-size: 30px;
    margin-right: 10px;
}

#filter-form .btn-custom1 {
    margin-right: 10px;
}
