@font-face {
    font-family: 'Chomsky';
    src: url('../Chomsky.otf') format('opentype');
}

@font-face {
    font-family: 'Canterbury';
    src: url('../Canterbury.ttf') format('truetype');
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: end;
}

.flipbook h1 {
    font-family: 'Canterbury', serif;
    font-size: 75px;
    text-align: center;
    margin-top: 150px;
    background-image: linear-gradient(
        to right,
        #7e5226 0,
        #9f6630 15%,
        #b07a3f 40%,
        #e4b976 50%,
        #b07a3f 60%,
        #9f6630 85%,
        #7e5226 100%
    );
    background-clip: text;
    color: transparent;
}

.normal-page {
    background-color: #ede0d5;
    width: 425px;
    height: 550px;
}

.normal-page h3 {
    color: #2f2213;
    font-family: 'Chomsky', serif;
    font-size: 40px;
    margin: 20px;
    text-align: center;
}

.normal-page p::first-letter {
    color: #2f2213;
    font-family: 'Chomsky', serif;
    font-size: 75px;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

.normal-page p {
    color: #2f2213;
    font-size: 20px;
    margin: 20px;
}

.cover-page-inside {
    background-color: #53311e;
}

.cover-page-outside {
    background-color: #564427;
    background-image: url("../images/book_cover.png");
    background-size: contain;
    background-position: center;
}

.flipbook{
    width: 900px;
    height: 600px;
}

.flipbook .page{
}

.page-wrapper {
}
