@font-face {
    font-family: 'Chomsky';
    src: url('../Chomsky.otf') format('opentype');
}

@font-face {
    font-family: 'Canterbury';
    src: url('../Canterbury.ttf') format('truetype');
}

.flex-center {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 5px;
    margin-bottom: 20px;
}

.flipbook h1 {
    font-family: 'Canterbury', serif;
    font-size: 75px;
    text-align: center;
    margin-top: 150px;
    background-image: linear-gradient(
        to right,
        #7e5226 0,
        #9f6630 15%,
        #b07a3f 40%,
        #e4b976 50%,
        #b07a3f 60%,
        #9f6630 85%,
        #7e5226 100%
    );
    background-clip: text;
    color: transparent;
}

.cont-background {
    margin-right: 50%;
    margin-left: 15px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.cont-background p {
    text-align: left;
    font-size: 75px;
    font-family: 'Canterbury', serif;
    color: #22303b;
}

.normal-page {
    background-color: #ede0d5;
    width: 412px;
    height: 550px;
}

.odd {
    background-color: transparent;
    background-image: url("../images/pages_right.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.even {
    background-color: transparent;
    background-image: url("../images/pages_left.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.normal-page h3 {
    color: #2f2213;
    font-family: 'Chomsky', serif;
    font-size: 40px;
    margin: 50px 50px 20px 50px;
    text-align: center;
}

.normal-page p::first-letter {
    color: #2f2213;
    font-family: 'Chomsky', serif;
    font-size: 75px;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

.normal-page p {
    color: #2f2213;
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.cover-page-inside-left {
    background-image: url("../images/book_cover_left.png");
}

.cover-page-inside-right {
    background-image: url("../images/book_cover_right.png");
}

.cover-page-outside {
    background-color: #564427;
    background-image: url("../images/book_cover.png");
    background-size: contain;
    background-position: center;
}

.flipbook{
    width: 900px;
    height: 600px;
}

.flipbook .page{
}

.page-wrapper {
}
