* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: radial-gradient(#2c686c, #151f27);
    font-family: 'Times New Roman', Times, serif;
}

.register-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    width: 25%;
    min-width: 300px;
    padding: 20px 30px;
    background-color: #151f27;
    box-shadow: 0 0 10px #2c686c;
    border-radius: 0.25rem;
    color: #fff;
}

.register-window .login-form h2 {
    text-align: center;
    margin: 10px 8px 20px;
    font-size: 25px;
    font-weight: bold;
    color: #fff
}

.register-window .login-form .login-form-el {
    margin: 15px 0px;
}

.register-window .login-form label {
    margin: 3px 2px;
    font-size: 17px;
    color: #D09125;
}

.btn-custom {
    background-color: #D09125;
    color: #151F27;
    display: inline-flex;
}

.btn-custom:hover {
    background-color: #DDA440;
    color: #151F27;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #2c686c;
    color:#fff;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.form-control.is-valid, .was-validated .form-control:valid {
    border-color: #2c686c;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%232c686c' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    padding-right: calc(1.5em + .75rem);
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.form-control.is-valid, .was-validated .form-control:invalid {
    border-color: #E0AC52;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23E0AC52'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23E0AC52' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    padding-right: calc(1.5em + .75rem);
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.invalid-feedback {
    color: #E0AC52;
}

input:focus:valid, .form-control.is-valid:focus, .was-validated .form-control:valid:focus {
    border: 1px solid #2c686c;
    box-shadow: 0 0 5px #2c686c !important;
}

input:valid {
    border: 1px solid #2c686c;
}

input:focus:invalid, .form-control.is-invalid:focus, .was-validated .form-control:invalid:focus {
    border: 1px solid #E0AC52;
    box-shadow: 0 0 5px #E0AC52 !important;
}

input:invalid {
    border: 1px solid #E0AC52;
}
